<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	 th:include="layout/principal :: page">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>

<div th:fragment="content">

	
	
	<h1>Listado de estudiantes</h1>
	
	<table class="table">
		<tr>
			<th>Identificacion</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Acciones</th>
		</tr>
		
		<tr th:each="estudiante : ${estudiantes}">
			<td th:text="${estudiante.numeroIdentificacion}"></td>
			<td th:text="${estudiante.nombre}"></td>
			<td th:text="${estudiante.apellido}"></td>
			<td>
				<a class="btn btn-primary" th:href="@{/estudiantes/{idEstudiante}/editar(idEstudiante=${estudiante.numeroIdentificacion})}">Editar</a>
				<a class="btn btn-danger" th:href="@{/estudiantes/{idEstudiante}/eliminar(idEstudiante=${estudiante.numeroIdentificacion})}">Eliminar</a>
			</td>
		</tr>
		
	</table>
	
	
	</div>
</body>
</html>