<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layout/principal :: page">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body th:fragment="content">
	
	<h1>Vista de registro de estudiante</h1>
	
	<table>
		<tr>
			<td>Nombre</td>
			<td th:text="${estudiante.nombre}"></td>
		</tr>
		
		<tr>
			<td>Apellido</td>
			<td th:text="${estudiante.apellido}"></td>
		</tr>
		
		
	</table>
	
</body>
</html>